@page "/"

<PageTitle>Quiz</PageTitle>

<br>
<div class="text-center m">
    <h1 class="text-primary">Welcome to the Quiz!</h1>
</div>
<div class="text-center m-4">
    <label class="text-primary">Choose your category</label>
</div>

<div class="text-center">
    <button class="btn btn-outline-primary">Computers</button>
    <button class="btn btn-outline-primary">Movies</button>
    <button class="btn btn-outline-primary">History</button>
</div>
<br>
<br>

<div class="text-center">
    <img src="images/donald.gif" style="border-radius: 20%;" >
</div>
